* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}

.header{
    width:100%;
}  
.content{
    width:100%;
    display: flex;
    flex:1;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
} 

.footer{
    width:100%;
}  

.header-strip {
    width: 100%;
    background: #0062f4;
    color: white;
    padding: 13px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    top: 0;
    left: 0;
    padding-left: 18px;
    display: flex;
    align-items: center;
}


.header-strip img {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    max-height: 45px;
    max-width: 180px;
    height: auto;
  }

  body {
    background: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    flex-direction: column;

}

.registration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box{
    margin-top: 150px;
    background: white;
    padding: 32px;
    border-radius: 10px;
    border-style:solid;
    border-color:rgb(142, 144, 186);
    border-width: 5px;
    width: 100%;
    max-width: 400px;
}

.head {
    text-align: center;
    margin-bottom: 32px;
    color: rgb(21, 21, 218);
}

.head img{
    margin-top: 10px;
    max-width: 100px;
    max-height:100px;
}
.form-group{
    margin-bottom: 24px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 12.8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}


.submit-button {
    width: 100%;
    padding: 16px;
    background: #1976D2;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.back-button {
    margin-top: 16px;
    color: rgb(21, 21, 218);
    text-decoration: solid;
    padding: 8px 16px;
    border-radius: 4px;
    border-style:solid;
    border-color:rgb(142, 144, 186);
    background: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}
.back-button a{
    text-decoration: none;
}


footer {
    width: 100%;
    background: #0d6efd;
    color: white;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    left: 0;
    }
    
    .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    }
    
    
    
    .footer-content a {
    color: white;
    text-decoration:underline;
    }
    

body{
    margin:0;
    padding:0;
    height: "100%";
    width:"100%";
    background-color: red;
    overflow: hidden;
}   


