* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head{
    z-index: 10;
}
.header-strip {
    width: 100%;
    background: rgb(0, 98, 244);
    color: white;
    padding: 13px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 18px;
    display: flex;
    align-items: center;
}

.header-strip img {
    display: inline-block; 
    margin-right: 8px;
    vertical-align: middle;
    max-height: 45px;
    max-width: 180px;
    height: auto;
}

body {
    background: rgba(0,98,244, 0.2);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    flex-direction: column;

}

.content {
    text-align: center;
    overflow-y: auto;
}

.content h1 {
    font-size: 40px;
    color: rgba(12, 20, 168, 0.715);
}

.content h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: black;
    align-items: center;
}

.content h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: blue;
    text-shadow: black 1px 1px;
}

.marquee {
    width: 100%;
    background-color: #6ca2ed;
    color: white;
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 70px;
    left: 0;
    text-align: center;
}

.homepage-strip {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 110px;
    left: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);

}

.menu {
    text-align: left;
    margin: auto 0;
}

.menu:hover .side-nav {
    display: inline-block;
}

.side-nav {
    display: none;
    position: fixed;
    left: 0;
    top: 155px;
    width: 250px;
    height: 100%;
    background-color: #0062f450;
    z-index: 20;
}

.side-nav-over {
    background-color: white;
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: block;
}

.side-nav a:hover {
    background-color: #575757;
}

.homepage-strip a {
    text-decoration: none;
    color: #0062f4;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    margin: auto 0;
}

.homepage-strip a:hover {
    background-color: #3f88e9;
    color: white;
}

.menu-options {
    display: inline-block;
}

.contact-us {
    text-decoration: none;
    color: #0062f4;
    padding: 10px -30px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: auto 0;
}

.login-dropdown {
    text-decoration: none;
    color: #0062f4;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.dropdown-content {
    top: 40px;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: blue solid 1px;
    padding: 10px;
}

.dropdown-content a:hover {
    background-color: #3f88e9;
    color: white;
}

.login-dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.about-section {
    top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.about-text {
    position: relative;
    flex: 1;
    padding-left: 150px;
    padding-right: 100px;
}

.about-text h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #4e529c;
    font-weight: 400px;
    text-align: center;
}

.about-text h3 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    
}

.about-text p {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 300;
    text-align: justify;
    padding-top: 20px;
}

.home-section {
    margin-top:130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: linear-gradient(135deg, #fefefe, #0062f4);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.home-text {
    margin-right: 50px;
    position: relative;
    flex: 1;
    padding-left: 150px;
    padding-right: 100px;
}

.home-text img{
    width: 800px;
    height: 400px;
}
.home-text h1 {
    font-size: 40px;
    color: rgba(12, 20, 168, 0.715);
}


.home-text h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #4e529c;
    font-weight: 400px;
    align-items: center;
}

.home-text h3 {
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.home-text p {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 300;
}

.course-offered{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap:40px;
    align-items: center;
}

.course-offered-image img{
    width: 350px;
    height: 250px;
    border-radius: 50px 50px;
    box-shadow: 5px  5px 20px;
}

.course-offered-text p{
    text-align: justify;
}


.campus{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.campus-image img{
    width: 800px;
    height:500px;
}
.campus-text p{
    text-align: justify;
}


.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-top: -20px;
}

.slogan {
    text-align: center;
    margin-top: 50px;
}

.slogan h2 {
    font-size: 24px;
    color: blue;
    text-shadow: black 1px 1px;
}

footer {
    width: 100%;
    background: #0d6efd;
    color: white;
    padding: px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.footer-content p {
    margin: 8px 0;
}

.footer-content a {
    color: white;
    text-decoration: underline;
}