* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header-strip {
  width: 100%;
  background: linear-gradient(150deg, #0062f4, #e4e7ec);
  color: white;
  padding: 18px;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 18px;
  display: flex;
  align-items: center;
}

.header-strip img {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  max-height: 45px;
  max-width: 180px;
  height: auto;
}
body {
  background: linear-gradient(135deg, #fefefe, #0062f4);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  flex-direction: column;
}

.homepage-container {
  text-align: center;
}

.homepage-container h1 {
  margin-top: 80px;
  font-size: 40px;
  color: rgba(12, 20, 168, 0.715);
}

.homepage-container h2 {
  font-size: 25px;
  margin-bottom: 20px;
  color: black;
}

.homepage-container h3 {
  font-size: 25px;
  margin-bottom: 20px;
  color: white;
  text-shadow: black 2px 1px;
}



.login-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.option {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(142, 144, 186);
  width: 250px;
  text-align: center;
}

.option h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000000;
}

.login-button {
  display: inline-block;
  background-color: white;
  padding: 10px;
  text-decoration: none;
  margin-top: 10px;
}

.login-button img{
  width: 70px;
}
.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: linear-gradient(135deg, #fefefe, #0062f4);
  padding: 20px;
  border-radius: 10px;
  margin-top: 70px;
}

.about-text {
  flex: 1;
  padding-left: 150px;
  padding-right: 100px;
}

.about-text h2 {
  font-size: 35px;
  margin-bottom: 10px;
  color: #4e529c;
  font-weight: 400px;
}

.about-text h3 {
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: left;
}

.about-text h4 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #0c14a8;
  font-weight: bold;
  text-align: left;
  margin-top: 30px;
}
.about-text p {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 200;
}

.about-text ul {
  text-align: left;
  padding-left: 100px;
  color: #000000;
}

.about-text li {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 200;
}
.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  width:400px;
  height: auto;
  border-radius: 10px;
}

.slogan {
  text-align: center;
  margin-top: 20px;
}

.slogan h2 {
  font-size: 24px;
  color: #ffffff;
  text-shadow: black 2px 2px;
}

